*{
    margin: 0 !important;
    padding: 0 !important;
}

*:focus{
    outline: 0 !important;
    box-shadow: none !important;
}

body{
    font-family: Montserrat !important;
    padding-top: 3rem !important;
}

.font-family-1{
    font-family: Bellota !important
}

.font-family-2{
    font-family: Roboto !important
}

.min-width{
    max-width: 1250px !important;
    margin: 0 auto !important;
}

.bg-gradient {
    background: linear-gradient(45deg, #734b6d,#42275a);
}

.icon-size{
    font-size: 25px !important;
}

a {
    text-decoration: none!important;
    color: white !important;
}

.border-transparent{
    padding: 15px !important;
    background-color: transparent !important;
}

.btn-radius{
    border-radius: 50px !important;
}

#inicio, #cv{
    padding: 50px 0 !important;
}

.card-proyecto{
    min-width: 280px !important;
    max-width: 23rem !important;
}

#proyectos{
    padding: 60px 0 !important
}

.img-cv {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)) !important; 
    width: 90% !important;
    max-width: 700px !important; 
    height: auto !important;
}

.svg {
    position: relative !important;
}
  
.custom-shape-divider-top-1603673034 {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    overflow: hidden !important;
    line-height: 0 !important;
}

.custom-shape-divider-top-1603673034 svg {
    position: relative !important;
    display: block !important;
    width: calc(100% + 1.3px) !important;
    height: 61px !important;
}

.custom-shape-divider-bottom-1603748627 {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    overflow: hidden !important;
    line-height: 0 !important;
}

.custom-shape-divider-bottom-1603748627 svg {
    position: relative !important;
    display: block !important;
    width: calc(100% + 1.3px) !important;
    height: 58px !important;
}

.custom-shape-divider-top-1603904108 {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    overflow: hidden !important;
    line-height: 0 !important;
}

.custom-shape-divider-top-1603904108 svg {
    position: relative !important;
    display: block !important;
    width: calc(100% + 1.3px) !important;
    height: 56px !important;
    transform: rotateY(180deg) !important;
}

.shape-fill {
    fill: #f8f9fa !important;
}

@media (max-width: 500px){
    #inicio, #cv{
        padding: 15px 0 !important;
    }
}
